/* ------------------------------------ */
/* *************GENERAL STYLES**************** */
/* ------------------------------------ */

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.btn {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-basis: fill;


	font-family: 'Sen', sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 19px;
	border-radius: 4px;
	padding: 9px 20px;
	margin: 20px 0px;
}

.btn.primary {
	background: #4D1195;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.18);
}

a.btn.primary {
	color: #FFFFFF;
}

.btn.secondary {
	background: white;
	border: 2px solid #4D1195;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.18);
	font-weight: 600;
}

/* GENERAL FOOTER *************************** */
.footer {
	text-align: center;
  line-height: 1.4;
  padding-top: 30px;
}

/*footer icons */
.icons li {
	list-style: none;
	display: inline;
}

i {
	font-style: italic;
}


/*removing navigation auto-formatting*/
ul, ol {
	list-style-type: none;
}

/* erasing typical ul, href, and nav formatting */
a,
ul {
	text-decoration: none;
}

/* ----- TYPOGRAPHY ------ */

html {
  scroll-behavior: smooth;
}

body {
	font-family: 'Red Hat Display', sans-serif;
	color: #313131;
}

h1 {
	font-size: 36px;
	font-weight: bold;
}

/* h1 {
	font-size: 28px;
	font-weight: 600;
} */

/* Satellite Page Typography Modifications */

/* .sat h1 {
	font-family: 'Sen', sans-serif;
	font-size: 22px;
	font-weight: 600;
} */

h2 {
	font-family: 'Sen', sans-serif;
	font-size: 26px;
	font-weight: 600;
}

h3 {
	font-family: 'Sen', sans-serif;
	font-size: 20px;
	font-weight: 600;
	color: #313131;
}

h4 {
	font-family: 'Red Hat Display', sans-serif;
	font-size: 20px;
	font-weight: 500;
	line-height: 26px;
}

h6 {
	font-family: 'Red Hat Display', sans-serif;
	font-weight: 500;
	font-style: italic;
	line-height: 21px;
}

em {
	font-style: italic;
}

.sen {
	font-family: 'Sen', sans-serif;
}

.rh {
	font-family: 'Red Hat Display', sans-serif;
}

.pic_caption {
	font-size: 12px;
	line-height: 14px;
}

/* nav lefthand name styling */
.title_caption {
	color: #313131;
	font-size: 18px;
	font-weight: 400;
}

/* nav items */
.navigation {
	font-family: 'Sen', sans-serif;
	font-size: 14px;
	font-weight: 400;
}

/*home page hero text */
.hero {
	line-height: 1.6;
}

.fancy {
	font-family: 'Abril Fatface', cursive;
	font-size: 54px;
	font-weight: 400;
	color: #313131;
}

.hero_text {
	font-size: 16px;
	font-weight: 400;
}

.badge {
	border: 1px solid #313131;
	border-radius: 4px;
	color: #000000;
	font-size: 16px;
	font-weight: 600;
	padding: 3px 5px;
	font-family: 'proxima nova', sans-serif;
}

/* Case Study Names */
.case_title {
	font-size: 32px;
}

/* "what is it?" */
.body_heading {
	font-size: 16px;
	font-weight: 700;
}

.details,
.details .body_heading {
	font-size: 14px;
}

.case-description {
	font-weight: 400;
}

.summary {
	line-height: 1.4;
}

.caption {
	font-family: 'Sen', sans-serif;
	font-size: 12px;
	font-weight: 600;
}

.centered {
	margin: 0px auto;
	text-align: center;
}

strong {
	font-weight: 700;
}

.box_label {
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
	background-color: white;
}

.box_text {
	line-height: 20px;
}

.app_description strong {
	font-family: 'Sen', sans-serif;
}

.app_description {
	line-height: 22px;
}

.contents li{
	font-size: 22px;
	font-weight: bold;
}

.small {
	font-size: 18px;
}





/* NAVIGATION ***************************** */

.navigation {
	width: 100vw;
	height: auto;
	position: sticky;
	top: 0;
	z-index: 9999;
}

.list {
	width: 100vw;
	margin-top: -5px;
	z-index: 1;
}

.nav_list {
	display: flex;
	flex-direction: row-reverse;
	flex-basis: auto;
	justify-content: space-around;
	align-items: center;
	padding: 5px 4% 0px 4%;
	background: #5BDCFF;
}

.navigation .mobile_icon {
	margin-right: 6px;
}

.nav_item {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: auto;
}

.separator {
	position: static;
	width: 2px;
	height: 40px;
	background: #007DD1;
}

.nav {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 9px 22px;
	position: sticky;
	top: 0;
	z-index: 100;
	width: 100%;
	/* height: 80px; */
	background: #5BDCFF;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.35);
}

.title_caption {
	margin: 8px 0px;
}

/* NAVIGATION LINK STYLES ***************************** */


.navigation a:link,
.navigation a:visited {
	color: #313131;
}

.sat .navigation a:link,
.sat .navigation a:visited {
	color: #313131;
}

.sat a:link,
.sat a:visited {
	color: #4D1195;
}

/* Satellite pages Navigation Modifications */
/************/
			.sat .nav {
				/* height: 46px; */
			}

			.sat .job_title {
				display: none;
			}

/* header, SELECTED link */
.navigation a:active {
	color: #4D1195;
}

/* footer, UNVISITED link */
.footer a:link,
.footer a:visited {
	color: #FFF;
}


/* --- FOOTER ---- */
/* footer formatting */
.footer {
	background-color: #5BDCFF;
	color: #313131;
  line-height: 1.4;
  padding-top: 30px;
}

.footer p {
	font-family: 'Sen', sans-serif;
}

/* footer icon customizations from ion */
.footer ion-icon {
	color: #1A0D65;
	font-size: 40px;
}

.footer-heading {
	font-size: 18px;
	font-weight: 600;
}


.icons {
	display: inline-block;
	text-align: center;
	padding: 16px 0px 10px 0px;
}

.icons li {
	padding: 10px;
}


.footer .caption {
	padding: 8px 10px 0px 10px;
}


/* padding before bottom of page within footer */
.social {
	padding-bottom: 30px;
}


.desktop-only {
	display: none;
}

.desktop-only.case_title_flex {
	display: none;
}

.no-mobile {
	display: none;
}

.resume-icon {
	width: 20px;
	padding-right: 5px;
}

.anchor {
	padding-top: 40px;
	margin-top: -50px;
	}

.sat .anchor {
	padding: 120px 0;
	margin: -120px 0;
}

/* CLEAR FLOATS */
.clear {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Box Styles */


.box_label {
	padding: 3px 16px;
	border-radius: 10px;
	border: solid #03B5E5 2px;
	margin-left: 10px;
	display: inline-block;
}

.box_text {
	padding: 30px 20px 30px 20px;
	margin: 0px 0px 20px 0px;
	border: solid #03B5E5 3px;
	border-radius: 11px;
}

.dropSha {
	box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.25);
}


/* ********************************** */
/* ----END OF GENERAL SECION----- */


/* ------------------------------------ */
/* HOME*******HOME***********HOME*********** */
/* ------------------------------------ */



.home .hero {
	background-image: url("/assets/images/HeroImage_small.png");
	background-repeat: no-repeat;
	background-position: 0% 90%;
	background-size: 115%;
	/* background-position: top; */
	min-height: 468px;

	/* min-height: 450px; */
	/* max-height: calc(100vw*2); */
}


#about-a {
	padding-top: 60px;
	margin-top: -60px;
}

.home .hero_text {
	padding-top: 60px;
}

.leftpad {
	padding: 0px 0px 0px 10%;
}

.rightpad {
	margin-top: -5px;
	padding: 0px 7% 0px 17%;
}

.section_heading {
	padding: 8px 16px;
	border-radius: 8px;
}

.white_bg {
	background: white;
}


.summary {
	padding: 20px 16px 48px 16px;
}

#mywork {
	background-color: #F46DED;
	mix-blend-mode: hard-light;
	margin: -150px 5% 32px 5%;
}

.color_bg {
	background-color: #03B5E5;
}

#Lupl_pic {
	max-height: 250px;
}

#HydroApps_pic {
	background-color: #000000;
}

.case_study {
	background-color: white;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
	margin: 0px 5% 48px 5%;
}

.case_title_flex {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 16px;
}

.body_heading {
	padding-bottom: 14px;
}

.details_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 10px 16px;
	background: #D9FCFB;
	border-radius: 16px;
}

.details {
	margin: 6px 0px;
}

.bubbles {
	background-image: url("/assets/images/About_BG_Mobile.png");
	background-size: cover;
	background-repeat: no-repeat;
	padding-bottom: 42px;
}

.white_column {
	display: flex;
	flex-direction: column;

	background: white;
	margin: 10px 5% 48px 5%;
	padding: 20px 16px 48px 16px;
	border-radius: 11px;
}

#aboutme1 {
	margin: 20px 5% 32px 5%;
	border: 3px #F46DED solid;
}

#contactme1 {
	margin: 20px 5% 32px 5%;
	border: 3px #03B5E5 solid;
}

.home .photo_and_intro {
	display: flex;
	flex-direction: row;
	margin: 10px 0px 0px 0px;
}

.home .photo_and_intro .image {
	align-self: flex-start;
}

.image {
	border-radius: 15px;
	min-width: 100px;
	max-width: 160px;
	object-fit: scale-down;
}

.outlined_title {
	margin: 0px 0px 22px 22px;
	min-width: 130px;
}

#about_short p {
	line-height: 1.5;
}

#about_short h4 {
	margin-bottom: 16px;
}

.simple_lk {
	font-weight: 700;
	white-space: nowrap;
	text-decoration: underline;
	color: #4D1195 !important;
	padding-left: 1.5%;
}

.conclusion {
	color: #4D1195 !important;
}

.contact-text > * {
	margin: 30px 0;
}

.contact-text > *:first-child {
	margin: 0px;
}

#name {
	height: 42px;
	width: 100%;
	margin: 8px 0 16px 0;
}

#email {
	height: 42px;
	width: 100%;
	margin: 0 0 16px 0;
}

#message {
	height: 100px;
	width: 100%;
	margin-bottom: 16px;
}

#send {
	width: 100%;
}


/* images in previews for case studies */
.imagepreview {
	object-fit: cover;
	width: 100%;
}

/* ------------------------------------ */
/* CASE STUDIES GENERAL* */
/* ------------------------------------ */

.hero_content {
	margin-bottom: 30px;
}

.box_label {
	z-index: 9;
}

.box_text {
	/* position: absolute;
	margin-right: 5%; */
	z-index: -1;
	margin-top: -16px;
}

#noShow .box_text {
	position: relative;
	visibility: hidden;
}

.sat {
	font-size: 14px;
	line-height: 20px;
}

.sat .large {
	font-size: 16px;
	line-height: 22px;
}

.sat .item {
	font-weight: 600;
	font-size: 16px;
}

.sat .margin {
	margin: 0px 5%;
	z-index: 1;
}

.sat .noMarg {
	margin: 0 0;
}





/* ------------------------------------ */
/* LUPL */
/* ------------------------------------ */

.hero_content .btn.secondary {
	margin-top: 30px;
}


.sat .hero {
	margin: 30px 0px 0px 0px;
}

.case_logo {
	width: 35%;
	margin-right: 20px;
}

.case_preview {
	display: none;
}

.case_logo {
	float: left;
}

.contents li{
	margin: 16px 0px;
}

.table_of_contents {
	margin: 40px 0 60px 2%;
}

.timeline {
	position: relative;
	overflow: hidden;
}


.timeline:before {
	content: '';
	position: absolute;
	top: 0;
	left: 8px;
	margin-left: 4.5%;
	width: 3px;
	height: 98.8%;
	background: #03B5E5;
	z-index: 1;
}

.timeline-block {
	width: 93%;
	margin-bottom: 30px;
}

.bullet {
	display: flex;
	margin-bottom: 30px;
	width: 96%;
	margin-top: -2px;
}

.phase-text {
	font-size: 20px;
	font-weight: 600;
	margin: 8px 0px 0px 28px;
	justify-self: center;
	width: 100%;
	z-index: 999;
}

#phase-text2 {
	margin-top: 70px;
}

#phase2 .item {
	margin-top: 30px;
	margin-bottom: 40px;
}

.bullet.phase {
	margin-bottom: 30px;
	flex-wrap: wrap;
}

.gray_bar {
	background: #E4E4E4;
	height: 40px;
	margin: -10px 0px 0px 8px;
	position: absolute;
	width: 100%;
	z-index: -1;
	overflow: hidden;
}

.gray_bar_light {
	background-color: #F1F1F1;
	height: 40px;
	width: 100%;
	margin: 30px 0 0 8px;
	position: absolute;
	z-index: -1;
	overflow: hidden;
}


.little.mark {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: 2px #03B5E5 solid;
	background-color: #D9FCFB;
	margin-top: 2px;
	z-index: 199;
}

.big.mark {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: 2px #580999 solid;
	background-color: #8A53FF;
	margin-top: 2px;
	z-index: 199;
}

.mark {
	margin-right: 10px;
}

.timeline_content {
	width: 100%;
	margin-left: 7%;
}

.bullet_max {
	color: #000;
	font-size: 20px;
	font-weight: 800;
}

.bullet_min {
	font-size: 20px;
}

.year {
	font-size: 14px;
	font-weight: 600;
}

.timeline_content .quote {
	font-style: italic;
}

.emphasis_card {
	background: white;
	padding: 32px 16px 48px 16px;
	box-shadow:  4px 4px 7px rgba(0, 0, 0, 0.25);
	margin: 40px 7px 56px 0px;

}

.lupl .heading {
	font-weight: bold;
	margin-bottom: 10px;
}

.emphasis .heading {
	margin-bottom: 20px;
}

.sat .item {
	margin: 20px 0;
}

.item p {
	margin: 20px 0;
}

.timeline_content ul {
	list-style-type: disc;
	list-style-position: inside;
	margin: 15px 0px 35px 8px;
}

.time-img {
	width: 100%;
}

#scroll_img {
	width: 100%
}


#emails {
  width: calc(100% + 20px); // twice the value of the parent's padding
  margin-left: -10px; // -1 * parent's padding
	margin-top: 30px;
	margin-left: -10%;
	position: relative;
	z-index: 999;
}

.triangle {
	width: 92vw;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	position: relative;
	z-index: 1;
	min-height: 30px;
	max-height: 250px;
}

.up {
	background-image: url("/assets/images/TriangleUp.png");
	margin: -15px auto 0 auto;
}

.down {
	background-image: url("/assets/images/TriangleDown.png");
	margin: -5px auto 0 auto;
}

.shad_cont {
	position: relative;
	padding: 20px 10px;
}

.marg-top {
	margin-top: 40px;
}

.marg-bot {
	margin-bottom: 40px;
}

#doc_profile {
	margin-bottom: 40px;
}

#docHeading,
#teamsHeading {
	line-height: 1.4
}

#doc_profile_card {
	box-shadow: 0px 1px 15px #F46DED;
}

.card {
	margin: -4px auto 0 auto;
	border-radius: 11px;
	background-repeat: no-repeat;
	width: 93vw;
	background-color: white;
	padding: 40px 40px;
	z-index: 99;
	position: relative;
}

.sen_card {
	background-color: #D9FCFB;
	border-radius: 11px;
	margin: 40px 0px;
	padding: 20px;
}

.phase2 .caption {
	color: #8F8F8F;
	font-size: 14px;
}

.phase2 .card-head {
	font-size: 20px;
	font-weight: 800;
}

.box_content {
	margin: 40px 0px 20px 0px;
}

.phase2 .cat-head {
	font-family: 'Red Hat Display', sans-serif;
	font-weight: 600;
	font-size: 22px;
	margin-bottom: 20px;
}

.left_column {
	margin: 40px 0;
}

.img_text p {
	margin: 10px 0 20px 0;
}

.img_text {
	margin: 40px 0px;
}

#feedback_dp {
	margin-top: 60px;
}

.line {
	width: 6px;
	border-radius: 4px;
}

.short {
	margin-bottom: 20px;
	margin-top: 20px;
	height: 35px;
}

.blue_bg {
	background-color: #03B5E5;
}

.pie_image {
	display: flex;
	align-items: center;
	margin-bottom: 40px;
}

.pie_text {
	color: #4D1195;
	font-size: 16px;
	font-weight: bold;
	margin-top: 10px;
}

.num {
	font-size: 22px;
}

.pie {
	width: 45vw;
	margin-right: 20px;
}

#team_lead .gray_bar {
	margin: 0 0 0 8px;
}

#team_lead .bullet {
	padding-top: 10px;
}

.result img:nth-child(2) {
	margin-top: 20px;
}

#team_lead .box_text {
	margin-bottom: 30px;
}

#team_lead .item p:last-child {
	margin-bottom: 40px;
}

#jrdesigner .item p:last-child {
	margin-bottom: 60px;
}

.marg-bot-l {
	margin-bottom: 60px;
}

.up.blue {
	background-image: url("/assets/images/TriangleUp-blue.png");
	margin: -8px auto 0 auto;
}

.down.blue {
	background-image: url("/assets/images/TriangleDown-blue.png");
}

#teams_card {
	box-shadow: 0px 1px 15px #03B5E5;
	}

#Teams_ex {
	margin-bottom: 60px;
}

#how {
	margin-top: 50px;
}

.bullet_max p:nth-child(1) {
	margin-bottom: 10px;
}

#celebration .bullet {
	height: 200px;
	align-items: center;
}

#conclusion .large {
	font-size: 20px;
	line-height: 40px;
	text-align: center;
}

#conclusion .left_column {
	margin: 30px auto;
}

#conclusion {
	margin-bottom: 40px;
}

#conclusion a:link {
	font-weight: bold;
}

#small_cel {
	width: 70vw;
	margin: 0 auto 80px auto;
}



/* ---------------------------------------------- */
/* HydroApps */
/* ---------------------------------------------- */

.gallery {
	display: flex;
	justify-content: center;
  align-items: center;
	width: 600px;
	height: 375px;
	background-color: #1F1F1F;
}

.mySlides {
	object-fit: contain;
	max-width: 600px;
	margin: auto;
}



/* *************ABOUT FULL PAGE ********************* */
/* ------------------------------------ */


.about {
	margin: 0px 5%;
	font-size: 14px;
	line-height: 18px;
	flex-wrap: wrap;
}

.about .card {
	margin-right: 0px;
}

.aboutme_heading {
	margin: 40px 0px 20px 0px;
}

.about .title_caption {
	line-height: 22px;
}

.profilepic {
	width: 35vw;
	object-fit: contain;
	margin: 0px 30px 20px 0px;
	float: left;
}

.card-heading {
	font-family: 'Red Hat Display', sans-serif;
	font-size: 20px;
}

.magnadoodle {
	transform: rotate(20deg);
	float: right;
	margin: 10px -10px 10px 0px;
	width: 50vw;
	padding: 1vw;
	z-index: -1 !important;
	overflow: hidden;
}

.pic_and_caption {
	display: flex;
	float: right;
	width: 90vw;
	margin: 40px auto 40px auto;
	padding: 20px;
	border: 3px #F46DED solid;
	border-radius: 10px;
	align-items: flex-start;
}

.about_pic {
	width: 40vw;
	margin-right: 20px;
	object-fit: contain;
}

.space {
	padding-right: 8px;
}

.conclusion {
	margin: 40px 0px 10px 0px;
}


.pic_and_heading {
	display: flex;
	flex-direction column;
	width: 90vw;
	margin: 40px auto 40px auto;
	padding: 20px;
	border: 3px #F46DED solid;
	border-radius: 10px;
}

#wrapped {
	display: none;
}


/* HERO IMAGE FIT MEDIA QUERIES */


@media screen and (min-width: 400px) {
	.home .hero {
		background-image: url("/assets/images/HeroImage_med.png");
		background-repeat: no-repeat;
		background-size: 100%;
		min-height: 425px;
		background-position-y: 0;
	}
}

@media screen and (min-width: 500px) {
	.home .hero {
		background-image: url("/assets/images/HeroImage_large.png");
		max-height: 500px;
		background-position-y: -20px;
	}

	.home .hero_text {
		max-width: 550px;
		margin: auto;
	}

	#mywork {
		margin-top: -100px;
	}

	#Lupl_pic {
		max-height: 70vw;
	}
}

	@media screen and (min-width: 600px) {
		.home	.hero {
			background-image: url("/assets/images/HeroImage_tablet.png");
			background-size: contain;
			min-height: 388px;
			background-position-y: 0;
		}

		#Lupl_pic {
			max-height: 60vw;
		}

}

@media screen and (min-width: 700px) {
	.home	.hero {
		background-image: url("/assets/images/HeroImage_tablet.png");
		background-size: cover;
	}
}

				/* ------------------------------ */
				/* --TABLET ADJUSTMENTS---------------------------- */
				/* ------------------------------ */



				@media screen and (min-width: 767px) {

				/* GENERAL */

				/* Typography */

				h4 {
					font-size: 24px;
				}

				h6 {
					font-size: 20px;
					line-height: 28px;
				}

				.title_text h2 {
					font-size: 22px;
				}

				.title_caption {
					font-size: 18px;
				}

				.mobile-only {
					display: none;
				}

				.no-mobile {
					display: contents;
				}

				/* Case Study Names */
				.case_title {
					font-size: 26px;
				}

				.case-description {
					font-size: 14px;
				}

				.badge {
					font-size: 14px;
				}

				.contact-initial {
					font-size: 26px;
				}

				.contact-secondary {
					font-size: 22px;
				}

				.caption {
					font-size: 14px;
				}

				/* NAVIGATION */

				.mobile_icon {
					display: none;
				}

				.navigation {
					width: 100vw;
					height: 45px;
					padding: 10px 40px;
					align-content: center;
					display: flex;
					background: #5BDCFF;
					box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
				}

				.nav {
					flex-basis: 60%;
					display: block;
					padding: 0px;
					position: relative;
					z-index: 0;
					justify-content: center;
					width: auto;
					height: auto;
					box-shadow: none;
				}

				.name {
					flex-basis: 80%
				}

				.web_title {
					display: flex;
					flex-direction: row;
					align-items: center;
				}

				.job_title {
					margin-left: 16px;
				}

				.separator {
					display: none;
				}

				.list {
					flex-basis: 40%;
					margin-top: 0px;
					z-index: 0;
					align-self: center;
				}

				.nav_list {
					display: flex;
					flex-direction: row;
					justify-content: flex-end;
					align-items: baseline;
					padding: 0px;
					background: #5BDCFF;
				}

				.nav_item {
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					width: auto;
					margin-left: 32px;
				}

				.title_caption {
					margin: 0px;
				}

				/* HOME ****************/
				/***********/

				.job_title {
					margin-left: 8px;
				}

				.home .hero {
					background-image: url("/assets/images/HeroImage_large_tablet.png");
					background-size: 118%;
					min-height: 400px;
				}

				.home .hero_text {
					padding-top: 66px;
				}

				#mywork {
					margin: -128px 9% 32px 9%;
				}

				.desktop-only.case_title_flex {
					display: flex;
				}

				.case_studies {
					display: flex;
					flex-direction: column;
					margin: 0px 5%;
				}

				.case_study {
					background-color: initial;
					display: flex;
					flex-direction: column;
					margin: 0px 5% 56px 5%;
				}

				/* .title_reverse {
					flex-direction: column;
				} */

				.case_title_flex {
					padding: 20px 0px;
					justify-content: flex-start;
				}

				.case_title_flex > * {
					margin-right: 2%;
				}

				#Lupl_pic {
						max-height: 50vw;
						object-position: 50% 60%;
					}

				.badge {
					margin: 0%;
				}

				.summary {
					padding: 5px 35px 0px 35px;
					margin-bottom: 48px;
				}

				.summary_no_details {
					/* min-height: 250px; */
				}

				.details_container {
					/* margin: -20px 18% 20px 18%; */
				}

				/* HOME: ABOUT ME SECTION OF HOME */
				.white_column {
					padding: 20px 10% 48px 10%;
				}

				.photo_and_intro {
					justify-content: space-between;
				}

				/* adding outline on bio heading */
				.outlined_title {
					display: flex;
					flex-direction: column;
					justify-content: center;
					padding: 0px 2.5%;

					border: 2px solid #F46DED;
					height: 160px;
					margin-top: 20px;
					border-radius: 10px;
				}

				/* HOME: CONTACT ME SECTION OF HOME */

				.contact-text {
					padding-top: 30px;
				}

				.footer-heading {
					font-size: 22px;
				}

				.bubbles {
					background-image: url("/assets/images/About_bg_desktop.png");
				}

				/* ABOUT ****************/
				/***********/

				#wrapit {
					display: block;
					float: none;
					margin-top: 40px;
					/* font-size: 14px; */
				}

				#dont {
					display: none;
				}

				/* .para1 {
					margin: 20px 0px 40px 0px;
				} */

				.aboutme_heading {
					display: block;
					/* margin-right: 12.5%; */
					margin: 60px 0px 40px 0px;
				}

				.sat .nav {
					height: auto;
				}

				.about {
					margin: 0px 12.5%;
				}

				.sat .job_title {
					display: contents;
				}

				.title_text {
					padding-right: 10px;
				}

				.photo_and_intro {
					display: block;
					width: auto;
					margin: 0px;
				}

				.magnadoodle {
					width: 40vw;
				}

				/* .about .page-heading {
					margin: 60px auto 40px auto;
				} */

				.card-heading {
					margin-bottom: 20px;
				}

				.profilepic {
					/* width: 20vw; */
					float: left;
					width: 30vw;
					margin: 0px;
					padding: 0px 5vw 3vw 0px;
				}

				.about .title_caption {
					align-self: flex-end;
				}

				.about_pic {
					width: 35vw;
					margin: 0px 0px 20px 0px;
				}

				.pic_and_caption {
					text-align: center;
					flex-direction: column;
					align-items: center;
					width: auto;
					padding: 35px;
					/* margin: 0px 50px 40px 50px; */
					float: none;
					/* margin-top: 0px;
					margin-right: 30px; */
				}

				.pic_caption {
					width: 35vw;
					text-align: center;
				}

				.conclusion {
					margin: 50px 0px 20px 0px;
				}

				.pic_and_heading {
					flex-direction: column;
					align-items: center;
					width: auto;
					padding: 35px;
					/* margin: 0px 50px 40px 50px; */
				}


				/* CONTACT ME PAGE *************************************** */
				/* ******************************************************* */



				}




						@media screen and (min-width: 1023px) {
						/* *********************************** */
						/* SML DESKTOP ADJUSTMENTS */
						/* *********************************** */

						/* DESKTOP TYPOGRAPHY */

						.sat h1 {
							font-size: 30px;
						}

						h2 {
							font-size: 30px;
						}

						h4 {
							font-size: 20px;
						}

						h6 {
							font-size: 16px;
						}

						.card-heading {
							font-size: 30px;
							font-weight: 700;
							line-height: 30px;
						}

						.title_text h2 {
							font-size: 30px;
						}

						.about .title_caption {
							font-size: 22px;
							line-height: 28px;
						}

						.about_text {
							font-size: 16px;
							line-height: 22px;
						}

						.fancy {
							font-size: 70px;
						}

						.nav_item {
							font-size: 16px;
							font-weight: 400;
						}

						.case-description {
							font-size: 16px;
						}

						/* HOME *****************************/
						/**********************************/

						.navigation {
							height: 60px;
						}

						.nav {
							align-self: center;
						}

						.title_caption {
							padding-top: 5px;
						}

						.list {
							padding-top: 2px;
						}

						.home .hero_text {
							padding-top: 60px;
						}

						.home .hero {
							background-image: url("/assets/images/Desktop_hero_image.png");
							background-size: 100%;
							min-height: 500px;
							background-position-y: -20px;
						}

						.name {
							align-content: center;
						}

						#mywork {
							margin-top: -165px;
						}

						.summary {
							padding: 0px;
							margin: 0px;
						}

						.case_study {
							display: flex;
							flex-direction: row;
							box-shadow: none;
							width: 90%;
							margin-bottom: 60px;
						}

						.col {
							display: flex;
							flex-direction: column;
							padding: 0px;
							margin: 0px;
						}

						.col2 {
							display: flex;
							flex-direction: column;
							margin-left: 2%;
							width: 60vw;
						}

						#Lupl_pic {
								max-height: 415px;
								object-fit: cover;
							}

						#Deskspace_pic,
						#HydroApps_pic {
								object-fit: contain;
								object-position: center;
							}

						.imagepreview {
							min-height: 0;
							width: 40vw;
							flex: 1 0 0;
						}

						.case_title_flex {
							padding-top: 0px;
						}


						.details_container {
							margin: 30px 0px 0px 0px;
						}

						#Lupl .details_container {
							margin: 0px;
						}

						.summary_no_details {
							min-height: auto;
						}

						.bubbles > * {
							margin: 0 auto;
							width: 44vw;
						}

						/* fixing margin on section headings to fit auto */
						#aboutme1 {
							margin: 20px auto 26px auto;
						}

						#contactme1 {
							margin: 64px auto 26px auto;
						}

						.white_column {
							padding: 20px 5% 48px 5%;
						}

						.outlined_title {
							margin-top: 0px;
							height: 142px;
						}

						/* About Section of Homepage */
						.bubbles {
							background-image: url("/assets/images/About_bg_desktop.png");
							background-size: 130%;
							background-position-x: center;
						}

						.image {
							max-width: 140px;
							min-width: auto;
						}

						/* ABOUT FULL PAGE *****************************/
						/**********************************/



						.about_bg {
							background-image: url("/assets/images/AboutFull_BG_Desktop_faded.png");
							background-repeat: no-repeat;
							background-size: cover;
							overflow: auto;
						}

						.about .photo_and_intro {
							width: initial;
						}

						.card-heading {
							margin-bottom: 10px;
						}

						.aboutme_heading {
							margin: 0px 0px 30px 0px;
						}

						.about {
							margin: 0px 20%;
						}

						.about .card {
							margin: 40px 0px;
							background-color: white;
							padding: 40px 40px 40px 40px;
							border-radius: 10px;
						}



						.pic_and_heading {
							margin-bottom: 0px;
						}

						.profilepic {
							width: 25vw;
						}

						.about_pic,
						.sen.pic_caption {
							width: 25vw;
						}

						.navigation {
							z-index: 1;
						}

						.magnadoodle {
							width: 30vw;
						}


						}



										@media screen and (min-width: 1227px) {
										/* *********************************** */
										/* Medium DESKTOP ADJUSTMENTS */

										/* GENERAL ************************ */

										/*TYPOGRAPHY*/

										h3 {
											font-size: 22px;
										}

										.fancy {
											font-size: 90px;
										}

										.home .hero {
											min-height: 486px;
										}

										.home .hero_text {
											font-size: 20px;
											max-width: 700px;
											padding-top: 80px;
										}



										/* -------------------------------------------- */
										/* HOMEPAGE ************************ */


										.footer-heading {
											font-size: 32px;
										}

										/* hero styles in header */
										.home .hero {
											line-height: 1.6;
										}

										#myBtn {
											bottom: 40px;
											right: 60px;
											height: 60px;
											width: 60px;
										}

										.case-title {
											font-weight: 400;
										}

										.case-description {
											font-size: 16px;
											line-height: 1.4;
										}

										.case_studies {
											margin: 0px 12.5%;
										}

										.details_container {
											max-width: none;
											margin-left: 0px;
										}

										#Lupl .details_container {
											margin: 30px 0px 0px 0px;
										}

										#mywork {
											margin: -64px 12.5% 44px 12.5%;
										}

										.case_study {
											margin: 0px 0px 78px 0px;
											width: 100%;
										}

										.bubbles {
											background-size: 120%;
										}


										.home ion-icon {
											font-size: 40px;
										}

										.icons {
											padding: 20px;
											text-align: center;
											display: inline-block;
										}

										.icons li {
											padding: 20px;
										}

										.home .footer {
											padding-top: 40px;
										}

										.footer-content p {
											display: inherit;
										}

										.social .caption {
											font-size: 14px;
											padding: 0px;
										}

										.home .photo_and_intro {
											justify-content: flex-start;
										}

										.outlined_title {
											flex: 1 0 0;
										}

										/* *********************************** */
										/* ABOUT ------------------------------- */
										/* *********************************** */

										/* making photos wrap in text */

										#wrapped {
											display: block;
											float: left;
											width: 25vw;
											margin: 5vw 5vw 5vw 0px;
											border: none;
											padding: 0px;
											margin: 40px 4vw 3vw 0px;
										}

										#la {
											width: 100%;
											height: 100%;
											object-fit: contain;
										}

										#noWrap {
											display: none;
										}

										.sen.pic_caption {
											width: auto;
										}

										#afterNone {
											margin-top: 25px;
										}

									}






											/* *********************************** */
											/* HOME BACKGROUND ADJUSTMENTS */
											/* *********************************** */

												@media screen and (min-width: 1300px) {

													.home .hero {
														background-image: url("/assets/images/Desktop_hero_image_med.png");
														min-height: 550px;
													}

													#mywork {
														margin-top: -164px;
													}

												}

												@media screen and (min-width: 1500px) {

													.home .hero {
														min-height: 600px;
													}

													.about .card {
														padding: 40px 60px 40px 60px;
													}

												}




																				@media screen and (min-width: 1700px) {
																					/* *********************************** */
																					/* Large Desktop ADJUSTMENTS---------------------------- */
																					/* *********************************** */

																					/* General Typography */

																					.btn /* spacing! */ {
																						padding: 16px 20px;
																					}


																					.title_caption {
																						font-size: 20px;
																					}

																					.fancy {
																						font-size: 110px;
																					}

																					.rightpad {
																						font-size: 22px;
																					}

																					.nav_item {
																						font-size: 20px;
																					}

																					h3 {
																						font-size: 24px;
																					}

																					.case_title {
																						font-size: 40px;
																					}

																					.badge {
																						font-size: 24px;
																					}

																					.body_heading {
																						font-size: 20px;
																					}

																					.case-description {
																						font-size: 18px;
																					}

																					.details,
																					.details .body_heading {
																						font-size: 16px;
																					}

																					.btn {
																						font-size: 22px;
																					}

																					/* NAV Adjustments */
																					.nav_item {
																						margin-left: 64px;
																					}

																					/******************************/
																					/* Home page adjustments */

																					.home .hero_text {
																						padding-top: 100px;
																						max-width: 800px;
																					}

																					.home .hero {
																						min-width: 100vw;
																						min-height: 600px;
																						background-position-y: -50px;
																					}

																					.leftpad {
																						padding: 0px 0px;
																					}

																					.rightpad {
																						padding: 0px 0px 0px 17%;
																					}


																					#mywork {
																						margin-top: -100px;
																						margin-bottom: 0px;
																					}

																					.case_study {
																						margin: 64px 0px;
																					}

																					.case-description {
																						padding-bottom: 18px;
																					}

																					#Lupl_pic {
																						min-height: 450px;
																					}

																					#Deskspace_pic {
																						max-height: 410px;
																					}

																					/* About section on Homepage */
																					#about_short {
																						margin-top: 56px;
																					}

																					.image {
																						flex: 1 3 0;
																					}

																					.home .photo_and_intro {
																						display: flex;
																						flex-direction: row;
																						margin: 22px 0px;
																						width: 100%;
																						justify-content: flex-start;
																					}

																					.outlined_title {
																						flex: 4 1 0;
																					}


																				}

																			/* Really really large desktop adjustments ;) */
																				@media screen and (min-width: 2000px) {

																					/* *********************************** */
																					/* ABOUT ADJUSTMENTS---------------------------- */

																					#wrapped {
																						margin: 2vw 5vw 2vw 0px;
																						width: 20vw;
																					}

																					.conclusion {
																						margin-top: 10px;
																					}
																				}

																					/* Really really reallllly large desktop adjustments ;) */
																						@media screen and (min-width: 2300px) {

																							/* *********************************** */
																							/* ABOUT ADJUSTMENTS---------------------------- */

																							#wrapped {
																								margin: 2vw 5vw 2vw 0px;
																								width: 15vw;
																							}

																						}
